:root{
    --GriffindorDarkRed:#740001;
    --GriffindorRed:#ae0001;
    --GriffindorYellow:#eeba30;
    --GriffinidorGold:#d3a625;
    --SlytherinDarkGreen:#1a472a;
    --SlytherinGreen:#2a623d;
    --SlytherinDarkSilver:#5a5a5a;
    --SlytherinLightSilver:#aaaaaa;
    --RavenclawDarkBlue:#0e1a40;
    --RavenclawBlue:#222f5b;
    --RavenclawTheGreyLady:#bebebe;
    --RavenclawGold:#946b2d;
    --HufflepuffCanary:#eeb939;
    --HufflepuffLlightCanary:#f0c75c;
    --HufflepuffLightBrown:#726255;
    --HufflepuffDarkBrown:#372e29;

    --shadow: 0 2px 2px rgb(0, 0, 0 / 0.5);
}

@font-face {
    font-family: 'Harry Potter';
    src: url('font/HARRYP__.TTF') format('truetype');
}

body {
    font-size: 32px;
    font-family: "Harry Potter", cursive;
}

.hero {
    background: url('background/desktop.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: top;
}


.hero h1 {
    font-size: 48px;
    margin-bottom: 16px;
    margin-top: 80px;
    color: var(--HufflepuffDarkBrown);
}

.hero div {
    font-size: 85px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--HufflepuffDarkBrown);
}


.hero p {
    font-size: 80px;
    color: var(--HufflepuffDarkBrown);
}

.hero h5 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 16px;
    color: var(--HufflepuffDarkBrown);
}

.hero a {
    font-size: 40px;
    color: var(--GriffindorRed);
    margin-top: 10px;
}

.hero a:hover {
    color: var(--GriffinidorGold);
}

@media only screen and (max-width: 600px) {
    .hero {
        background: url('background/mobile.png') no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: top;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
  
    .hero h1 {
      font-size: 32px;
      margin-top: 160px;
    }
  
    .hero div {
      font-size: 64px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  
    .hero p {
      font-size: 32px;
    }
  
    .hero h5 {
      font-size: 24px;
      margin-top: 16px;
      margin-bottom: 16px;
    }
  
    .hero a {
      font-size: 28.8px;
      margin-top: 16px;
    }
}
